<section class="content">
  <h2>Commissioned Projects</h2>
  <p>Here are the websites that I have been commissioned to create as part of a freelance web developer.</p>
  <dl>
    <dt><%= link_to "Electric Star Productions", "http://www.electricstarproductions.ca/", target:"_blank"%></dt>
    <dd>Electric Star Productions is a DJ and Events company in Toronto. They wanted a website with editable information about their DJs. I used ReactJS on the front end, to provide smooth transition between the standard view and the forms that enable editing. The back end uses Ruby on Rails to store the content in a PostgreSQL Database.</dd>
  </dl>
</section>
