<article class="content">
  <h2>Hello</h2>
  <p>Welcome to the personal webpage for Chris Larsen. I'm a junior web developer, specializing in Ruby on Rails and React.</p>
  <p>While I currently do most of my work in web platforms, I've been working with various programming languages for the last 20 years.</p>
  <p>I also work on physical projects, using my background and schooling in electronics. Currently I'm using a Raspberry Pi to create an IoT alarm clock. The Ruby language has been a great help in this project.</p>
  <p>Please wander the site. There's much more information about myself, as well as some of the projects I'm working on.</p>
</article>
