<article class="content">
  <h2>Hello</h2>
  <p>Welcome to the personal webpage for Chris Larsen. I'm a freelance web developer, electronics technologist, and overall technology fan, in Mississauga Ontario.</p>
  <p>My main stack for web development is Ruby on Rails, with ReactJS on the front end. My IoT projects are mostly done with Ruby or C. The hardware for my IoT projects is usually Raspberry Pi, but I also work with other platforms.</p>
  <p>On this site you'll find information about myself, my blog and links to various web apps that I've created for myself.</p>
  <p>If you wish to contact me, please do so through my <%= link_to "LinkedIn profile", "https://www.linkedin.com/in/chris-larsen-58347214/", target:"_blank"%>.</p>
</article>
