<article class="content">
  <h2>Hello</h2>
  <p>Welcome to the personal webpage for Chris Larsen. I'm a freelance web developer, electronics technologist, and overall technology fan.</p>
  <p>My main stack is Ruby on Rails, with ReactJS on the front end.</p>
  <p>On the hardware side of things, I mostly work with the Raspberry Pi, with some time spent on Arduino and TI's Launchpad ecosystem. I'm also active in Peel Region makerspaces, 3D printing parts and cases for my hardware projects.</p>
  <p>Please wander the site. There's much more information about myself, as well as many of the projects I'm working on.</p>
  <p>If you wish to contact me, please do so through my <%= link_to "LinkedIn profile", "https://www.linkedin.com/in/chris-larsen-58347214/", target:"_blank"%>.</p>
</article>
