<h2>Hello</h2>
<p>Welcome to the personal webpage for Chris Larsen. I'm an amateur web developer, and I've created this webpage as my first webpage.</p>
<p>Currently, I'm studying Ruby on Rails, which is the platform I've used for this, and other pages. In addition, I'm learning about many of the tools and languages that go along with web development, such as HTML, CSS, Git, and even a little bit of Javascript.</p>
<p>Other times I can be found working on various electronics projects. Currently, the big one of these is an IoT clock radio.</p>
<p>Please wander the site. There's much more information about myself, as well as some of the projects I'm working on.</p>    