<div>
    <h1>Hello</h1>
</div>
<div>
    <p>Welcome to the personal webpage for Chris Larsen. I'm an amateur web developer, and I've created this webpage as my first attempt at creating a webpage.</p>
    <p>By day, I work as a salesperson for electronic components. By night, I can be found indulging one of my many hobbies. Sometimes studying Ruby on Rails, which is the platform I've used for this page. Other times I can be found working on various electronics projects. </p>
    <p>Please wander the site. There's much more information about myself, as well as some of the projects I'm working on.</p>    
</div>