<h2>Hello</h2>
<p>Welcome to the personal webpage for Chris Larsen. I'm an amateur web developer, and I've created this site and blog as my first web app.</p>
<p>Currently I'm studying the Ruby language, as well as the Rails web framework, which is the platform I've used for this, and my other pages. In addition, I'm learning about many of the tools and languages that go along with web development, such as HTML, CSS, SQL, Git, jQuery and React.</p>
<p>Other times I can be found working on various electronics projects. Currently, the main one is an IoT clock radio, based on the Raspberry Pi platform, with software written in Ruby.</p>
<p>Please wander the site. There's much more information about myself, as well as some of the projects I'm working on.</p>
