<article class="content">
  <h2>Hello</h2>
  <p>Welcome to the personal webpage for Chris Larsen. I'm an electronics technologist and software developer.</p>
  <p>Most of my current work is in the web domain, using Ruby on Rails for the back end, and React on the front end. </p>
  <p>On the electronics side of things, I work the Raspberry Pi, TI Launchpads and Arduino microcontrollers to create various projects around the house.</p>
  <p>Please wander the site. There's much more information about myself, as well as some of the projects I'm working on.</p>
</article>
