<section class="content">
  <h2>Open source Contributions</h2>
  <p>Here are some open source projects that I've contributed to.</p>
  <dl>
    <dt><%= link_to "Invoice Printer", "https://github.com/strzibny/invoice_printer", target:"_blank"%></dt>
    <dd>Super simple PDF invoicing in Ruby. I provided advice on international tax terms, and updated the names for appropriate variables.</dd>
    <dt><%= link_to "Plist", "https://github.com/patsplat/plist", target:"_blank"%></dt>
    <dd>All-purpose Property List manipulation library. My contribution was an update to a deprecated method call.</dd>
  </dl>
</section>
