<h2>Current Projects</h2>
<table class="projects">
	<tr>
		<th class="name">Name</th>
		<th class="description">Description</th>
	</tr>
	<tbody>
		<tr>
			<td class="name">
				<%= link_to "Round Table", "https://round-table-pm.herokuapp.com", target:"_blank"%>
			</td>
			<td class="description">
				Project Management Software. My first web app. The majority of the app was completed in 6 days, with other functionality added later, and more still to come.
			</td>
		</tr>
		<tr>
			<td class="name">
				<%= link_to "IoT Clock Radio", "https://github.com/HCLarsen/ruby-radio", target:"_blank"%>
			</td>
			<td class="description">
				An IoT Clock Radio, with Raspberry Pi for hardware, and all software written in Ruby. Uses GTK for the GUI interface, streams internet radio, accesses weather info from OpenWeatherMap and changes colour based on the time of day.
			</td>
		</tr>
		<tr>
			<td class="name">
				<%= link_to "Spending Money", "https://spending-money.herokuapp.com", target:"_blank"%>
			</td>
			<td class="description">
				A simple money management app. You save your regular income and expenses. Then, you enter your current bank balance, and the app will calculate how much "spending money" you have available so that you don't fall behind your bills.
			</td>
		</tr>
	</tbody>
</table>
