// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog-footer {
  margin: 45px 0px 45px 0px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  text-align: center;
}

.previous {
  float: left;
  padding-left: 10px;
}

.next {
  float: right;
  padding-right: 10px;
}

#new_post {
  margin: auto 30px;
  input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
  }

  .btn-primary {
    margin: auto;
    width: 50%;
  }
}
