<header>
  <h1>Chris Larsen</h1>
  <div class="navbar navbar-default">
    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "About Me", about_path %></li>
        <li><%= link_to "Current Projects", projects_path %></li>
      </ul>
    </nav>
  </div>
</header>